html{
    background: #191919;
    font-family: 'PT Serif', serif;
}
.container{
    max-width: 1020px;
    margin: 20px auto;
}
// Инвентарь //
.inventory{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &-head{
        position: absolute;
        top: -32px;
        left: calc(50% - 150px);
        background: url('../img/head.png') no-repeat;
        background-size: contain;
        height: 65px;
        width: 300px;
        color: white;
        &__wrap{
            padding: 4px 26px;
            text-align: center;
        }
        &__name{
            font-size: 16px;
            margin: 0;  
            line-height: 2em; 
            color: #dac8af;
        }
        &__class{
            margin: 0;
            font-size: 12px;
            line-height: 1.2em;
            color: #c1bbb4;
        }
    }

    &-hero{
        position: relative;
        background: url('../img/hero.png') no-repeat;
        background-size: contain;
        width: 488px;
        height: 490px;
        &__left{
            position: absolute;
            top: 20px;
            left: 20px;
            height: 90%;
            width: 16%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            & .slot{
                margin-top: 4px;
            }
        }
        &__right{
            position: absolute;
            top: 20px;
            left: 80%;
            height: 90%;
            width: 16%;
            display: flex;
            flex-direction: column;
            align-items: center;
            & .slot{
                margin-top: 4px;
            }
        }
        &__model{
            position: absolute;
            top: 10%;
            width: 40%;
            height: 84%;
            left: 30%;
        }
    }

    &-characteristic{
        background: url('../img/characteristic.jpg');
        width: 488px;
        height: 122px;
        position: relative;

        &__left{
            width: 31%;
            height: 60%;
            position: absolute;
            top: 20%;
            left: 6%;
        }
        &__right{
            position: absolute;
            top: 14%;
            left: 40%;
            height: 70%;
            width: 54%;
        }
    }
}
.strip {
    border-top: 1px double #B28B6A;
    border-left: 1px double #6A4E42;
    border-right: 1px double #6A4E42;
    border-bottom: 1px double #5D4B47;
    background: #181313;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% - 8px);
    height: 16px;
    margin: 4px 2px;
    &__text{
        color: white;
        font-size: 12px;
        z-index: 10;
        user-select: none;
    }
    &__indicator{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    &--health &__indicator{
        background: linear-gradient(to bottom,#ff6a6a,#b33939);        
    }
    &--mana &__indicator{
        background: linear-gradient(to bottom,#706fd3,#474787);        
    }
    &--exp &__indicator{
        background: linear-gradient(to bottom,#ff793f,#cd6133);        
    }
}

.characteristic-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    &__item{
    }
}
.slot{
    width: 48px;
    height: 48px;
    background: #0E0E0E;
    border-top: 2px double #B28B6A;
    border-left: 2px double #6A4E42;
    border-right: 2px double #6A4E42;
    border-bottom: 2px double #5D4B47;
}
.item{
    background: slategray;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.item-tooltip{
    position: absolute;
    border: 1px solid #ababab;
    color: gray;
    background: white;
    width: 300px;
    height: 400px;
    display: none;
    top: 100%;
    left: 100%;
    padding: 10px
}
.item:hover .item-tooltip{
    display: block;
}
/* fog */
.background {
    position: fixed;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background: url('../img/background.jpg')
}
.fog {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/background.jpg") center center;  
    background-size: cover;
}
.fog::before,
.fog::after,
.fog div::before, 
.fog div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}
.fog div::before, 
.fog div::after    {
    left: 100%;
}
.fog::before, 
.fog div::before {
    background-image: url("../img/fog-1.png");
    animation: fogmove 20s linear 0s infinite;
}
.fog::after, 
.fog div::after {
    background-image: url("../img/fog-2.png");
    animation: fogmove 10s linear 0s infinite;
}
@keyframes fogmove {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}